<template name="desktopLeftSidebar">
    <div id="desktopLeftSidebar" class="mt-5 mt-xl-0 ">

        {{#if isLoggedIn}}

            <div class="profile-sidebar cus-scrollbar p-5">
                <div class="d-block d-lg-none position-absolute end-0 top-0">
                    <button class="button profile-close">
                        <i class="material-symbols-outlined mat-icon fs-xl"> close </i>
                    </button>
                </div>
                <div class="profile-pic d-flex gap-2 align-items-center">
                    <div class="avatar position-relative">
                        <a href="/u/{{myUserMeta.userName}}">
                            <img class="avatar-img avatar-size" src="{{myUserMeta.avatarUrl}}" alt="avatar">
                        </a>
                    </div>
                    <div class="text-area">
                        <h6 class="m-0 mb-1"><a href="/u/{{myUserMeta.userName}}">{{myUserMeta.firstName}} {{myUserMeta.lastName}}</a></h6>
                        <p class="mdtxt"><a href="/u/{{myUserMeta.userName}}">@{{myUserMeta.userName}}</a></p>
                    </div>
                </div>
                <ul class="profile-link mt-7 mb-7 pb-7">
                    <li>
                        <a href="/" class="d-flex gap-4">
                            <i class="material-symbols-outlined mat-icon"> newspaper </i>
                            <span>News Feed</span>
                        </a>
                    </li>
                    <li>
                        <a href="/notifications" class="d-flex gap-4">
                            <i class="material-symbols-outlined mat-icon"> notifications </i>
                            <span>Notifications</span>
                        </a>
                    </li>
                    <li>
                        <a href="/messages" class="d-flex gap-4">
                            <i class="material-symbols-outlined mat-icon"> mail </i>
                            <span>Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="/chambers" class="d-flex gap-4">
                            <i class="material-symbols-outlined mat-icon"> groups </i>
                            <span>Chambers</span>
                        </a>
                    </li>
                    <li>
                        <a href="/organizations" class="d-flex gap-4">
                            <i class="material-symbols-outlined mat-icon"> business </i>
                            <span>Organizations</span>
                        </a>
                    </li>
                    <li>
                        <a href="/topics" class="d-flex gap-4">
                            <i class="material-symbols-outlined mat-icon"> tag </i>
                            <span>Topics</span>
                        </a>
                    </li>
                    <li>
                        <a href="/courses" class="d-flex gap-4">
                            <i class="material-symbols-outlined mat-icon"> school </i>
                            <span>Academy</span>
                        </a>
                    </li>
                    <li>
                        <a href="/friends" class="d-flex gap-4">
                            <i class="material-symbols-outlined mat-icon"> person </i>
                            <span>Connections</span>
                        </a>
                    </li>
                    <li>
                        <a href="/profile" class="d-flex gap-4">
                            <i class="material-symbols-outlined mat-icon"> account_circle </i>
                            <span>Profile</span>
                        </a>
                    </li>

                    <!-- Admin Settings -->
                    <hr class="mt-7 mb-7">
                    {{#if isAdmin}}
                        <li>
                            <a href="/admin/chambersBuilder" class="d-flex gap-4">
                                <i class="material-symbols-outlined mat-icon"> settings </i>
                                <span>Admin</span>
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        {{else}}

        {{/if}}
    </div>
</template>