<template name="desktopLeftSidebar">
    <div id="desktopLeftSidebar" class="col-2 mt-5 mt-xl-0 d-none d-md-block">

        <div class="profile-sidebar cus-scrollbar p-5">
            <div class="d-block d-lg-none position-absolute end-0 top-0">
                <button class="button profile-close">
                    <i class="material-symbols-outlined mat-icon fs-xl"> close </i>
                </button>
            </div>
            <div class="profile-pic d-flex gap-2 align-items-center">
                <div class="avatar position-relative">
                    <img class="avatar-img avatar-size" src="{{myUserMeta.avatar_url}}" alt="avatar">
                </div>
                <div class="text-area">
                    <h6 class="m-0 mb-1"><a href="profile-post.html">{{myUserMeta.name_first}} {{myUserMeta.name_last}}</a></h6>
                    <p class="mdtxt">@{{myUserMeta.username}}</p>
                </div>
            </div>
            <ul class="profile-link mt-7 mb-7 pb-7">
                <li>
                    <a href="/" class="d-flex gap-4">
                        <i class="material-symbols-outlined mat-icon"> home </i>
                        <span>Timeline</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="/notifications" class="d-flex gap-4">
                        <i class="material-symbols-outlined mat-icon"> notifications </i>
                        <span>Notifications</span>
                    </a>
                </li> -->
                <!-- <li>
                    <a href="/messages" class="d-flex gap-4">
                        <i class="material-symbols-outlined mat-icon"> mail </i>
                        <span>Messages</span>
                    </a>
                </li> -->
                <li>
                    <a href="/chambers" class="d-flex gap-4">
                        <i class="material-symbols-outlined mat-icon"> workspaces </i>
                        <span>Chambers</span>
                    </a>
                </li>
                <li>
                    <a href="/friends" class="d-flex gap-4">
                        <i class="material-symbols-outlined mat-icon"> person </i>
                        <span>Friends</span>
                    </a>
                </li>
                <li>
                    <a href="/profile" class="d-flex gap-4">
                        <i class="material-symbols-outlined mat-icon"> account_circle </i>
                        <span>Profile</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>