<template name="desktopRightSidebar">
    <div id="desktopRightSidebar" class="col-3 mt-5 mt-xl-0 d-none d-md-block">
        <div class="cus-overflow cus-scrollbar sidebar-head">

            <div class="cus-scrollbar side-wrapper">
                <div class="sidebar-wrapper d-flex flex-column gap-6">

                    <div class="sidebar-area p-5">
                        <div class=" mb-4">
                            <h6 class="text-center">
                                Sponsored Advertisement
                            </h6>
                        </div>
                        <div class="d-grid gap-6">
                            {{#if ad}}
                                <div class="single-single">
                                    <a href="{{ad.url}}" target="_blank" data-source="sidebar" data-placement="sidebar" data-campaign="charity_donation">
                                        <img src="{{ad.image}}" alt="image">
                                    </a>
                                    <p style="font-size: 0.8em; text-align: center;">30% Of this ad was donated to charity</p>
                                </div>
                            {{/if}}
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</template>