<template name="followList">
  <div id="templateMain" class="col-lg-6">
    <div class="row cus-mar friend-request">
      <div class="col-xl-12">
        <div class="single-box text-start p-5">
          <div class="title-area mb-3 d-flex align-items-center justify-content-between">
            <h6>{{title}}</h6>
            <a class="mini-btn" href="/u/{{username}}">@{{username}}</a>
          </div>
          {{#if hasUsers}}
            <div class="list-group">
              {{#each users}}
              <div class="list-group-item border-0 px-0 py-3">
                <div class="d-flex align-items-center justify-content-between gap-3 flex-wrap">
                  <div class="d-flex align-items-center gap-3 min-w-0">
                    <div class="avatar-item flex-shrink-0">
                      <img class="avatar-img avatar-size" src="{{avatarUrl}}" alt="avatar">
                    </div>
                    <a href="/u/{{userName}}" class="text-truncate" style="max-width: 60vw;">
                      <p class="m-0">@{{userName}}</p>
                    </a>
                  </div>
                  <div class="btn-area d-flex justify-content-end gap-2 flex-shrink-0">
                    <a href="/u/{{userName}}"><button class="cmn-btn">View</button></a>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          {{else}}
            <div class="text-center py-5">
              <p class="m-0">No users to show yet.</p>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
