<template name="support">

    <div id="templateMain" class="col-12 col-sm-7 mt-0 mt-lg-10 mt-xl-0 d-flex flex-column gap-7 cus-z">
        <h1>Support</h1>
        <p>If you need assistance or have any questions, our team is here to help. Please reach out to us via email or call our office.</p>

        <h2>Contact Us</h2>
        <ul>
            <li><strong>Email:</strong> <a href="mailto:support@civilcitizens.ca">support@civilcitizens.ca</a></li>
            <li><strong>Phone:</strong> 1-613-438-8478</li>
            <li><strong>Office Address:</strong><br>
                Civil Citizens Incorporated<br>
                71 Everett Street<br>
                Belleville, Ontario<br>
                K8P 3K4, Canada
            </li>
        </ul>

        <p>We are available during regular business hours and will respond to your inquiries as quickly as possible.</p>
    </div>
</template>