<template name="chambers">

    <div id="templateMain" class="mt-0 mt-lg-10 mt-xl-0 d-flex flex-column gap-7 cus-z ">

        <div class="row">
            <div class="col">
                <form class="text-center d-grid gap-4">

                            {{#if chamberHomeSet}}
                                <div class="single-box p-3 p-sm-5">
                                    <div class="row">

                                        <div class="col-sm-12">
                                            <h3 class="mb-4">Your Chambers of Citizens</h3>
                                            <table class="table m-0">
                                                <tbody>
                                                    {{#each myChambers}}
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="d-flex gap-3 align-items-center">
                                                                <a href="public-profile-post.html">
                                                                    <a class="btn btn-primary d-center gap-1 {{#if home}}highlight-home{{/if}}" href="/c/{{province}}/{{chamber}}">
                                                                        {{#if home}}⭐ {{/if}}{{niceName chamber}}
                                                                    </a>
                                                                </a>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            {{else}}
                                <div class="col-sm-12">
                                    <img id="guestLogo" src="/theme/assets/images/logo-lg.png" class="logo mb-4" alt="logo" width=100>
                                </div>
                            {{/if}}

                            <div class="single-box p-3 p-sm-5">
                                <div class="row">

                                    {{#if chamberHomeSet}}
                                        <div class="col-sm-12">
                                            <h3 class="mb-4">Explore Other Chambers of Citizens</h3>
                                            <p>Explorer the depth of Canada across 343 Chambers of Citizens!</p>
                                        </div>
                                    {{else}}
                                        <div class="col-sm-12">
                                            <h4 class="mb-4">Select Your Home Chamber of Citizens</h4>
                                        </div>
                                    {{/if}}


                                    <div class="col-sm-12 mt-4">
                                        <div class="single-input text-start select2_custom_container {{#if userMeta.chamberHome}}{{else}}glowing_pulse_border{{/if}}">
                                            <select class="form-select select2 input-area " id="province_territory" data-placeholder="🇨🇦 Select Province or Territory">
                                                <option value="">Select Province / Territory</option>
                                                <option value="nl">Newfoundland And Labrador</option>
                                                <option value="pe">Prince Edward Island</option>
                                                <option value="ns">Nova Scotia</option>
                                                <option value="nb">New Brunswick</option>
                                                <option value="qc">Quebec</option>
                                                <option value="on">Ontario</option>
                                                <option value="mb">Manitoba</option>
                                                <option value="sk">Saskatchewan</option>
                                                <option value="ab">Alberta</option>
                                                <option value="bc">British Columbia</option>
                                                <option value="yt">Yukon</option>
                                                <option value="nt">Northwest Territories</option>
                                                <option value="nu">Nunavut</option>
                                            </select>
                                        </div>
                                        <div class="single-input text-start select2_custom_container">
                                            <select class="form-select select2 input-area" id="chamber_select" data-placeholder="Select Your Chamber" disabled>

                                            </select>
                                        </div>

                                        <!-- Geolocation alternative suggestions will be injected here -->
                                        <div id="geoSuggestionContainer" class="mt-3"></div>
                                        <div id="geoDetectControls" class="mt-3">
                                            <button type="button" id="btnAutoDetectRiding" class="btn btn-outline-primary btn-sm">
                                                📍 Auto detect my Electoral District Association
                                            </button>
                                            <span id="geoDetectStatus" class="ms-2 small text-muted"></span>
                                        </div>

                                    </div>
                                </div>

                                <script>
                                    $(document).ready(function(){
                                        setTimeout( function(){
                                            $('#province_territory').select2({
                                                theme: "bootstrap-5",
                                                width: '100%',
                                                placeholder: "Select a Province / Territory",
                                                closeOnSelect: true,
                                            });
                                            $('#chamber_select').select2({
                                                theme: "bootstrap-5",
                                                width: '100%',
                                                placeholder: "Select a Chamber",
                                                closeOnSelect: true,
                                            });

                                            // SELECT TERRITORY ACTION:
                                            $('#province_territory').on('change', function() {

                                                var proceed = true;

                                                var province = $("#province_territory").val();
                                                var chamber = $('#chamber_select').val();

                                                // if we change to nothing / clear the value, disable the chamber select
                                                if(province == ''){
                                                    $('#chamber_select').prop('disabled', true); // Disable the chamber select
                                                    $('#chamber_select').val('').trigger('change'); // Clear the chamber select

                                                    // set proper glowing_pulse_border
                                                    $('#province_territory').parent().addClass('glowing_pulse_border');
                                                    $('#chamber_select').parent().removeClass('glowing_pulse_border');
                                                    proceed = false;
                                                }


                                                if(proceed == true){

                                                    $('#chamber_select').prop('disabled', false); // Enable the chamber select (ENABLE -- not disable)
                                                    $('#chamber_select').html('<option value="">Loading...</option>'); // Clear the chamber select

                                                    $('#province_territory').parent().removeClass('glowing_pulse_border');
                                                    $('#chamber_select').parent().addClass('glowing_pulse_border');

                                                    // Refresh the select2
                                                    $('#chamber_select').select2({
                                                        theme: "bootstrap-5",
                                                        width: '100%',
                                                        placeholder: "Select a Chamber",
                                                        closeOnSelect: true,
                                                    });

                                                    $.ajax({
                                                        url: Meteor.settings.public.ROOT_URL+'/api/chambers',
                                                        type: 'GET',
                                                        data: {
                                                            province: province
                                                        },
                                                        success: function(response){
                                                            $('#chamber_select').html('<option value="">Select a Chamber</option>');
                                                            // Remove the glowing_pulse_border from province_territory and add it to chamber_select

                                                            response.forEach(function(chamber){
                                                                $('#chamber_select').append('<option value="'+chamber.seoUrl+'">'+chamber.name+'</option>');
                                                            });
                                                        },
                                                        error: function(){
                                                            $('#chamber_select').html('<option value="">Error Loading Chambers</option>');
                                                        }
                                                    });

                                                }
                                            });

                                            // When a valid chamber_select is selected, enable the save button
                                            $('#chamber_select').on('change', function() {
                                                var chamber = $('#chamber_select').val();
                                                if(chamber != ''){
                                                    $('#save_chamber').prop('disabled', false);
                                                    // set glowing_pulse_border
                                                    $('#chamber_select').parent().removeClass('glowing_pulse_border');
                                                    // Make the button glow
                                                    $('#save_chamber').addClass('glowing_pulse_border');
                                                } else {
                                                    $('#save_chamber').prop('disabled', true);
                                                }
                                            });

                                            // Auto-detect button handler (explicit manual trigger separate from automatic attempt on render)
                                            $('#btnAutoDetectRiding').on('click', function(){
                                                const $btn = $(this);
                                                if($btn.prop('disabled')) return;
                                                const $status = $('#geoDetectStatus');
                                                function setState(disabled, text){
                                                    $btn.prop('disabled', disabled);
                                                    if(disabled){
                                                        $btn.addClass('disabled');
                                                    } else {
                                                        $btn.removeClass('disabled');
                                                    }
                                                    $status.text(text || '');
                                                }
                                                if(!navigator.geolocation){
                                                    setState(false, 'Geolocation not supported');
                                                    return;
                                                }
                                                setState(true, 'Requesting location…');
                                                navigator.geolocation.getCurrentPosition(function(pos){
                                                    const { latitude, longitude } = pos.coords;
                                                    setState(true, 'Detecting riding…');
                                                    // Disable other key buttons while resolving
                                                    const reEnable = [];
                                                    ['#save_chamber','.uiActionVisitChamber'].forEach(sel=>{
                                                        const $el=$(sel); if($el.length && !$el.prop('disabled')){ $el.prop('disabled', true); reEnable.push($el);} });
                                                    Meteor.call('chambers.findContainingPolygon', latitude, longitude, (err, primary) => {
                                                        if (err) {
                                                            console.warn('Manual geofencing error, fallback nearest', err);
                                                            Meteor.call('chambers.findNearestMany', latitude, longitude, 11, (err2, list) => {
                                                                if(err2 || !list || !list.length){ setState(false, 'Failed'); reEnable.forEach($e=>$e.prop('disabled', false)); return; }
                                                                applySelection(list[0], list.slice(1));
                                                            });
                                                            return;
                                                        }
                                                        if(!primary){
                                                            Meteor.call('chambers.findNearestMany', latitude, longitude, 11, (err2, list) => {
                                                                if(err2 || !list || !list.length){ setState(false, 'No results'); reEnable.forEach($e=>$e.prop('disabled', false)); return; }
                                                                applySelection(list[0], list.slice(1));
                                                            });
                                                            return;
                                                        }
                                                        Meteor.call('chambers.findNearestMany', latitude, longitude, 10, (err2, alts) => {
                                                            if(err2) alts = [];
                                                            alts = (alts||[]).filter(a=> !(a.province===primary.province && a.seoUrl===primary.seoUrl));
                                                            applySelection(primary, alts);
                                                        });
                                                    });
                                                    function applySelection(primary, alternatives){
                                                        // replicate selection logic from autorun
                                                        if(primary){
                                                            if (!$('#province_territory').val()) {
                                                                $('#province_territory').val(primary.province).trigger('change');
                                                                const start = Date.now();
                                                                const iv = setInterval(()=>{
                                                                    const ready = $('#chamber_select option').length > 1;
                                                                    if(ready){ $('#chamber_select').val(primary.seoUrl).trigger('change'); clearInterval(iv); }
                                                                    else if(Date.now()-start>8000){ clearInterval(iv); }
                                                                },300);
                                                            } else {
                                                                // If province already set but different, update it
                                                                if($('#province_territory').val() !== primary.province){
                                                                    $('#province_territory').val(primary.province).trigger('change');
                                                                    const start = Date.now();
                                                                    const iv = setInterval(()=>{
                                                                        const optExists = $('#chamber_select option[value="'+primary.seoUrl+'" ]').length;
                                                                        if(optExists){ $('#chamber_select').val(primary.seoUrl).trigger('change'); clearInterval(iv); }
                                                                        else if(Date.now()-start>8000){ clearInterval(iv); }
                                                                    },300);
                                                                } else {
                                                                    $('#chamber_select').val(primary.seoUrl).trigger('change');
                                                                }
                                                            }
                                                            toastr.success('Auto-detected: '+primary.name, (primary.method==='geofenced'?'Geofenced':'Nearest')+' Location');
                                                        }
                                                        if(alternatives && alternatives.length){
                                                            const container = $('#geoSuggestionContainer');
                                                            // Clear and rebuild suggestions for manual re-run clarity
                                                            container.empty().data('filled', false);
                                                            let html = '<div class="small fw-bold mb-2">Not your correct riding?</div><div class="d-flex flex-wrap gap-2">';
                                                            alternatives.forEach(c=>{
                                                                const distanceText = c.distanceKm ? ' ('+c.distanceKm+' km)' : '';
                                                                html += '<button type="button" class="btn btn-outline-secondary btn-sm geo-suggestion" data-province="'+c.province+'" data-seourl="'+c.seoUrl+'" title="'+c.name+distanceText+'">'+c.name+' <span class="text-muted">'+distanceText+'</span></button>';
                                                            });
                                                            html += '</div>';
                                                            container.html(html).data('filled', true);
                                                        }
                                                        setState(false, 'Done');
                                                        setTimeout(()=>{ if($('#geoDetectStatus').text()==='Done'){ $('#geoDetectStatus').text(''); } }, 2500);
                                                        reEnable.forEach($e=>$e.prop('disabled', false));
                                                    }
                                                }, function(err){
                                                    setState(false, err && err.code === 1 ? 'Permission denied' : 'Location failed');
                                                }, { enableHighAccuracy:false, timeout:10000, maximumAge:600000 });
                                            });

                                        },100);
                                    });
                                </script>

                                <style>
                                    .select2_custom_container{
                                        border:1px solid #e5e5e5;
                                        border-radius: 5px;
                                        background: #bbffc9;
                                    }
                                    .select2 .selection{
                                        width:100%;
                                        text-align: center;
                                    }
                                    .select2-selection--single{
                                        margin-top: 20px;
                                    }
                                    .select2-dropdown {
                                        border:1px solid #e5e5e5;
                                        border-radius: 5px;
                                    }
                                </style>

                                {{#if chamberHomeSet}}

                                {{else}}
                                    <style>
                                        .glowing_pulse_border {
                                            animation: glowing 1500ms infinite;
                                            border: 2px solid red; /* Starting border style */
                                            border-radius: 4px; /* Optional: Adjust as needed */
                                            box-sizing: border-box; /* Ensures padding doesn't affect border width */
                                        }

                                        @keyframes glowing {
                                            0% {
                                                box-shadow: 0 0 5px red;
                                                border-color: red;
                                            }
                                            50% {
                                                box-shadow: 0 0 20px red;
                                                border-color: darkred;
                                            }
                                            100% {
                                                box-shadow: 0 0 5px red;
                                                border-color: red;
                                            }
                                        }
                                    </style>
                                {{/if}}

                                {{#if chamberHomeSet}}

                                {{else}}
                                    <style>
                                        /* Hide the unnecessary elements */
                                        #desktopLeftSidebar, #desktopRightSidebar, header, #mobileFooterMenu {
                                            display: none !important;
                                        }

                                        /* Center the content container */
                                        #templateMain {
                                            display: flex; /* Enables Flexbox */
                                            flex-direction: column; /* Ensures child elements stack vertically */
                                            align-items: center; /* Centers horizontally */
                                            justify-content: center; /* Centers vertically */
                                            width: 100%; /* Makes the container responsive */
                                            max-width: 600px; /* Optional: Add a max width for better scaling */
                                            margin: 0 auto; /* Horizontal centering */
                                        }
                                    </style>
                                {{/if}}
                            </div>


                            <div class="col-sm-12 mt-4">
                                {{#if chamberHomeSet}}
                                    <div class="btn-area text-center">
                                        <div class="btn btn-primary uiActionVisitChamber" >Visit This Chamber of Citizens!</div>
                                    </div>


                                {{else}}
                                    <div class="btn-area text-center">
                                        <button class="btn btn-success" id="save_chamber" disabled>🏠 Set Home Chamber</button>
                                    </div>
                                {{/if}}
                            </div>


                </form>
            </div>
        </div>



    </div>

</template>