<template name="notifications">

    <div class="d-grid gap-5">
        <div class="single-box">
            <div class="notification-single d-center p-5 gap-5 justify-content-between">
                <div class="d-flex top-review-wrapper gap-3 align-items-center">
                    <div class="avatar-item">
                        <img class="avatar-img max-un" src="/theme/assets/images/avatar-3.png" alt="avatar">
                    </div>
                    <div class="text-area text-start">
                        <h6 class="m-0 mb-1"><a href="public-profile-post.html">Lori Ferguson</a> <span>Comment on your post</span></h6>
                        <span class="mdtxt time-schedule">Just now</span>
                    </div>
                </div>
                <div class="btn-area d-flex gap-3">
                    <button class="cmn-btn alt p-2 p-sm-3">
                        <i class="material-symbols-outlined mat-icon"> delete </i>
                    </button>
                </div>
            </div>
            <div class="notification-single d-center p-5 flex-wrap gap-5 justify-content-between">
                <div class="d-flex top-review-wrapper gap-3 align-items-center">
                    <div class="avatar-item">
                        <img class="avatar-img max-un" src="/theme/assets/images/avatar-4.png" alt="avatar">
                    </div>
                    <div class="text-area text-start">
                        <h6 class="m-0 mb-1"><a href="public-profile-post.html">Jacob Jones</a> <span>Sent you a request</span></h6>
                        <span class="mdtxt time-schedule">Just now</span>
                    </div>
                </div>
                <div class="btn-area d-flex gap-3">
                    <button class="cmn-btn py-1">
                        Accept
                    </button>
                    <button class="cmn-btn alt py-1">
                        Delete
                    </button>
                </div>
            </div>
            <div class="notification-single d-center p-5 gap-5 justify-content-between">
                <div class="d-flex top-review-wrapper gap-3 align-items-center">
                    <div class="avatar-item">
                        <img class="avatar-img max-un" src="/theme/assets/images/avatar-5.png" alt="avatar">
                    </div>
                    <div class="text-area text-start">
                        <h6 class="m-0 mb-1"><a href="public-profile-post.html">Piter Maio</a><span>Comment on your post</span></h6>
                        <span class="mdtxt time-schedule">Just now</span>
                    </div>
                </div>
                <div class="btn-area d-flex gap-3">
                    <button class="cmn-btn alt p-2 p-sm-3">
                        <i class="material-symbols-outlined mat-icon"> delete </i>
                    </button>
                </div>
            </div>
            <div class="notification-single d-center p-5 gap-5 justify-content-between">
                <div class="d-flex top-review-wrapper gap-3 align-items-center">
                    <div class="avatar-item">
                        <img class="avatar-img max-un" src="/theme/assets/images/avatar-7.png" alt="avatar">
                    </div>
                    <div class="text-area text-start">
                        <h6 class="m-0 mb-1"><a href="public-profile-post.html">Piter Ferguson</a> <span>Share apost</span></h6>
                        <span class="mdtxt time-schedule">Just now</span>
                    </div>
                </div>
                <div class="btn-area d-flex gap-3">
                    <button class="cmn-btn alt p-2 p-sm-3">
                        <i class="material-symbols-outlined mat-icon"> delete </i>
                    </button>
                </div>
            </div>
            <div class="notification-single d-center p-5 flex-wrap gap-5 justify-content-between">
                <div class="d-flex top-review-wrapper gap-3 align-items-center">
                    <div class="avatar-item">
                        <img class="avatar-img max-un" src="/theme/assets/images/avatar-6.png" alt="avatar">
                    </div>
                    <div class="text-area text-start">
                        <h6 class="m-0 mb-1"><a href="public-profile-post.html">Jacob Jones</a> <span>Sent you a request</span></h6>
                        <span class="mdtxt time-schedule">Just now</span>
                    </div>
                </div>
                <div class="btn-area d-flex gap-3">
                    <button class="cmn-btn py-1">
                        Accept
                    </button>
                    <button class="cmn-btn alt py-1">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

</template>