<template name="footer">
    <!--==================================================================-->
    <script src="/theme/assets/js/plugins/jquery.min.js"></script>
    <script src="/theme/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/theme/assets/js/plugins/slick.js"></script>
    <script src="/theme/assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/theme/assets/js/plugins/plyr.js"></script>
    <script src="/theme/assets/js/plugins/apexcharts.js"></script>
    <script src="/theme/assets/js/plugins/wow.min.js"></script>
    <script src="/theme/assets/js/plugins/plugin.js"></script>
    <script src="/theme/assets/js/main.js"></script>
</template>