<template name="head">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Circlehub">
  <meta name="description" content="Circlehub HTML5 Template">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Civil</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/theme/assets/css/style.css">
  <link rel="shortcut icon" href="/theme/assets/images/fav.png" type="image/x-icon">
</template>
