<template name="mobileMenu">

  <!-- Bottom Menu start -->
  <div id="mobileFooterMenu" class="header-menu py-3 header-menu d-lg-none position-fixed bottom-0 w-100 cus-z">
    <div class="right-area position-relative d-flex justify-content-around gap-3 gap-xxl-6 align-items-center">

        <a href="/">
            <div class="single-item messages-area">
                <div class="messages-btn cmn-head">
                    <div class="icon-area d-center position-relative custom_icon_mobile">
                        <i class="material-symbols-outlined mat-icon"> newspaper </i>
                    </div>
                    <div class="text-tiny">News Feed</div>
                </div>
            </div>
        </a>
        <a href="/chambers">
            <div class="single-item messages-area">
                <div class="messages-btn cmn-head">
                    <div class="icon-area d-center position-relative custom_icon_mobile">
                        <i class="material-symbols-outlined mat-icon"> workspaces </i>
                    </div>
                    <div class="text-tiny">Chambers</div>
                </div>
            </div>
        </a>
        <a href="/submit">
            <div class="single-item messages-area">
            <div class="messages-btn cmn-head">
                <div class="icon-area d-center position-relative custom_icon_mobile">
                <i class="material-symbols-outlined mat-icon"> add </i>
                </div>
                <div class="text-tiny">Submit</div>
            </div>
            </div>
        </a>
        <a href="/friends">
            <div class="single-item messages-area notification-area">
            <div class="notification-btn cmn-head position-relative">
                <div class="icon-area d-center position-relative custom_icon_mobile">
                <i class="material-symbols-outlined mat-icon"> chat </i>
                </div>
                <div class="text-tiny">Messages</div>
            </div>
            </div>
        </a>

        <a href="/profile">
            <div class="single-item messages-area notification-area">
                <div class="notification-btn cmn-head position-relative">
                <div class="icon-area d-center position-relative custom_icon_mobile">
                <i class="material-symbols-outlined mat-icon"> notifications </i>
                </div>
            </div>
            <div class="text-tiny">Inbox</div>
            </div>
        </a>

    </div>
  </div>
  <!-- Bottom Menu end -->

  <style>
    .text-tiny{
        font-size: 0.5rem;
        text-align: center;
    }
    </style>


</template>