<template name="mobileMenu">

  <!-- Bottom Menu start -->
  <div id="mobileFooterMenu" class="header-menu py-3 header-menu d-lg-none position-fixed bottom-0 w-100 cus-z">
    <div class="right-area position-relative d-flex justify-content-around gap-3 gap-xxl-6 align-items-center">

        <a href="/timeline">
            <div class="single-item messages-area">
                <div class="messages-btn cmn-head">
                    <div class="icon-area d-center position-relative">
                        <i class="material-symbols-outlined mat-icon"> home </i>
                    </div>
                </div>
            </div>
        </a>
        <a href="/chambers">
            <div class="single-item messages-area">
                <div class="messages-btn cmn-head">
                    <div class="icon-area d-center position-relative">
                        <i class="material-symbols-outlined mat-icon"> workspaces </i>
                    </div>
                </div>
            </div>
        </a>
        <a href="/friends">
            <div class="single-item messages-area notification-area">
                <div class="notification-btn cmn-head position-relative">
                    <div class="icon-area d-center position-relative">
                        <i class="material-symbols-outlined mat-icon"> person </i>
                    </div>
                </div>
            </div>
        </a>
        <a href="/profile">
            <div class="single-item profile-area position-relative">
                <div class="profile-pic d-flex align-items-center">
                    <span class="avatar cmn-head active-status">
                        <i class="material-symbols-outlined mat-icon"> account_circle </i>
                    </span>
                </div>
            </div>
        </a>
    </div>
  </div>
  <!-- Bottom Menu end -->


</template>