<template name="post">
  <div id="templateMain" class="col-12 col-sm-7 mt-0 mt-lg-10 mt-xl-0 d-flex flex-column gap-7 cus-z">
    {{#with post}}
      <div class="post-item d-flex flex-column gap-5 gap-md-7" id="news-feed">
        <div class="post-single-box p-3 p-sm-5">
          <div class="top-area pb-5">
            <div class="profile-area d-center justify-content-between">
              <div class="avatar-item d-flex gap-3 align-items-center">
                <div class="avatar position-relative">
                  <img class="avatar-img avatar-size" src="{{author.avatar_url}}" alt="avatar">
                </div>
                <div class="info-area">
                  <h6 class="m-0" style="text-transform: lowercase;">
                    @{{author.username}}
                  </h6>
                  <span class="mdtxt status">Bay of Quinte</span>
                  {{#if isAd this}}
                    <span class="mdtxt status">Sponsored Advertisement</span>
                  {{/if}}
                </div>
              </div>
              {{#unless isAd this}}

              {{/unless}}
            </div>
            <div class="py-4 post-content">
              <h2 class="mdtxt">{{title}}</h2>
              <p class="description">{{{body}}}</p>
            </div>
            {{#if image}}
              <div class="post-img">
                <img src="{{image}}" class="w-100" alt="image">
              </div>
            {{/if}}
            {{#if isAd this}}
              <p style="font-size: 0.8em; text-align: center;">30% Of this ad was donated to charity</p>
            {{else}}
              <button class="read-more-btn" style="display: none;">Read More</button>
            {{/if}}
          </div>
          {{#unless isAd this}}
          {{/unless}}

          <form action="#">
            <div class="d-flex mt-5 gap-3">
                <div class="profile-box d-none d-xxl-block">
                  <img class="avatar-img avatar-size" src="{{this.author.avatar_url}}" alt="avatar">
                </div>
                <div class="form-content input-area py-1 d-flex gap-2 align-items-center w-100">
                    <input placeholder="Write a comment..">
                </div>
                <div class="btn-area d-flex">
                    <button class="cmn-btn px-2 px-sm-5 px-lg-6">
                        <i class="material-symbols-outlined mat-icon m-0 fs-xxl"> near_me </i>
                    </button>
                </div>
            </div>
        </form>

          <div class="comments-area mt-5">
            <div class="single-comment-area">
                <div class="parent-comment d-flex gap-2 gap-sm-4">
                    <div class="avatar-item d-center align-items-baseline">
                      <img class="avatar-img avatar-size" src="{{this.author.avatar_url}}" alt="avatar">
                    </div>
                    <div class="info-item">
                        <div class="top-area px-4 py-3 d-flex gap-3 align-items-start justify-content-between">
                            <div class="title-area">
                                <h6 class="m-0 mb-3"><a href="public-profile-post.html">Lori Cortez</a></h6>
                                <p class="mdtxt">The only way to solve the problem is to code for the hardware directly</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>



      </div>
    {{/with}}
  </div>
</template>
