<template name="post">
  <div id="templateMain" class="col-12 col-sm-7 mt-0 mt-lg-10 mt-xl-0 d-flex flex-column gap-7 cus-z">
    {{#with post}}
      <div class="post-item d-flex flex-column gap-5 gap-md-7" id="news-feed" data-post-id="{{_id}}">
        <div class="post-single-box p-3 p-sm-5">
          <div class="top-area pb-5">
            <div class="profile-area d-center justify-content-between">
              <div class="avatar-item d-flex gap-3 align-items-center">
                <div class="avatar position-relative">
                  <img class="avatar-img avatar-size" src="{{author.avatarUrl}}" alt="avatar">
                </div>
                <div class="info-area">
                  <h6 class="m-0">
                    <a href="/u/{{this.author.userName}}">
                      @{{niceName author.userName}}
                    </a>
                  </h6>
                  {{#if isAd this}}
                    <span class="mdtxt status">Sponsored Advertisement</span>
                  {{else}}
                    {{#if postType 'self'}}
                      <span class="mdtxt status">Self</span>
                    {{else if postType 'chamber'}}
                      <span class="mdtxt status">Citizens Chamber Of <strong><a href="/c/{{this.province}}/{{this.chamber}}">{{niceName this.chamber}}</a></strong> in <strong><a style="text-transform: uppercase;" href="/c/{{this.province}}">{{niceName this.province}}</a></strong></span>
                    {{else}}
                      <span class="mdtxt status">Topic</span>
                    {{/if}}
                  {{/if}}
                </div>
              </div>
              {{#unless isAd this}}

              {{/unless}}
            </div>
            <div class="py-4 post-content">
              <h2 class="mdtxt">{{title}}</h2>
              <p class="description">{{{body}}}</p>
            </div>
            {{#if image}}
              <div class="post-img">
                <img src="{{image}}" class="w-100" alt="image">
              </div>
            {{/if}}
            {{#if isAd this}}
              <p style="font-size: 0.8em; text-align: center;">30% Of this ad was donated to charity</p>
            {{else}}
              <button class="read-more-btn" style="display: none;">Read More</button>
            {{/if}}
          </div>
          {{#unless isAd this}}
          {{/unless}}

          <div class="like-comment-share py-5 flex-wrap">
            <!-- Upvote/Downvote Section -->
            <div class="vote-section d-flex align-items-center gap-2">
              <button class="upvote-btn">
                <i class="material-symbols-outlined mat-icon">thumb_up</i>
              </button>
              <span class="score">{{voteCount}}</span>
              <button class="downvote-btn">
                <i class="material-symbols-outlined mat-icon">thumb_down</i>
              </button>
            </div>

            <!-- Action Buttons -->
            <div class="action-buttons d-flex align-items-center gap-3">
              <a href="/post/{{seoUrl}}">
                <button class="comment-btn">
                <i class="material-symbols-outlined mat-icon">chat</i>
                {{comment_count}}
              </button>
            </a>
              <!-- <button class="bookmark-btn">
                <i class="material-symbols-outlined mat-icon">bookmark</i>
                0
              </button>
              <button class="share-btn">
                <i class="material-symbols-outlined mat-icon">share</i>
                0
              </button> -->
            </div>
          </div>

          {{#if isLoggedIn}}
            <form class="comment-form" onkeydown="return event.key !== 'Enter';">
              <div class="d-flex mt-5 gap-3">
                <div class="profile-box d-none d-xxl-block">
                  <img class="avatar-img avatar-size" src="{{author.avatarUrl}}" alt="avatar">
                </div>
                <div class="form-content input-area py-1 d-flex gap-2 align-items-center w-100">
                  <input name="comment" placeholder="Write a comment.." required autocomplete="off" >
                </div>
                <div class="btn-area d-flex">
                  <button type="submit" class="cmn-btn px-2 px-sm-5 px-lg-6">
                    <i class="material-symbols-outlined mat-icon m-0 fs-xxl"> near_me </i>
                  </button>
                </div>
              </div>
            </form>
          {{/if}}

          <div class="comments-area mt-5">
            {{#each comments}}
              <div class="single-comment-area mb-2">
                <div class="parent-comment d-flex gap-2 gap-sm-4">
                  <div class="avatar-item d-center align-items-baseline">
                    <img class="avatar-img avatar-size" src="{{author.avatarUrl}}" alt="avatar">
                  </div>
                  <div class="info-item">
                    <div class="top-area px-4 py-3 d-flex gap-3 align-items-start justify-content-between">
                      <div class="title-area">
                        <h6 class="m-0 mb-3"><a href="/u/{{author.userName}}">{{author.userName}}</a></h6>
                        <p class="mdtxt">{{comment}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>

        </div>



      </div>
    {{/with}}
  </div>
</template>
