<template name="header">

  <!-- header-section start -->
  <header class="header-section header-menu">
    <nav class="navbar navbar-expand-lg p-0">
        <div class="container-fluid">
            <nav class="navbar w-100 navbar-expand-lg justify-content-betweenm">
                <a href="/" class="navbar-brand">
                    <img src="/theme/assets/images/logo.png" class="logo" alt="logo">
                </a>
                {{#if isLoggedIn}}
                    <!-- Search temporarily disabled -->
                    <!--
                    <button class="button search-active d-block d-md-none">
                        <i class="d-center material-symbols-outlined fs-xxl mat-icon"> search </i>
                    </button>
                    <div class="search-form">
                        <form action="#" class="input-area d-flex align-items-center">
                            <i class="material-symbols-outlined mat-icon">search</i>
                            <input type="text" placeholder="Search" autocomplete="off">
                        </form>
                    </div>
                    -->
                {{/if}}
                <ul class="navbar-nav feed flex-row gap-xl-20 gap-lg-10 gap-sm-7 gap-1 py-4 py-lg-0 m-lg-auto ms-auto ms-aut align-self-center">
                </ul>
                <div class="right-area position-relative d-flex gap-3 gap-xxl-6 align-items-center">
                    {{#if isLoggedIn}}
                        <a href="{{submitHref}}" class="btn btn-primary">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                        </a>
                        <div class="single-item d-none d-lg-block profile-area position-relative">
                            <div class="profile-pic d-flex align-items-center">
                                <span class="avatar cmn-head active-status">
                                    <img class="avatar-img avatar-size" src="{{myUserMeta.avatarUrl}}" alt="avatar">
                                </span>
                            </div>
                            <div class="main-area p-5 profile-content">
                                <div class="head-area">
                                    <div class="d-flex gap-3 align-items-center">
                                        <div class="text-area">
                                            <h6 class="m-0 mb-1">{{myUserMeta.firstName}} {{myUserMeta.lastName}}</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-profile my-2">
                                    <a href="/profile" class="mdtxt w-100 text-center py-2">View profile</a>
                                </div>
                                <ul>
                                    <li>
                                        <a href="/logout" class="mdtxt">
                                            <i class="material-symbols-outlined mat-icon"> power_settings_new </i>
                                            Log Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </nav>
        </div>
    </nav>
  </header>
  <!-- header-section end -->

</template>