<template name="timeline">

    <div id="templateMain" class="col-12 col-sm-7 mt-0 mt-lg-10 mt-xl-0 d-flex flex-column gap-7 cus-z">


      {{#if isViewingChamber}}
        <div class="row">
          <div class="col-lg-12">
              <div class="banner-area pages-create mb-5">
                  <div class="single-box p-5">
                      <div class="top-area py-4 d-center flex-wrap gap-3 justify-content-between align-items-start">
                          <div class="d-flex gap-3 align-items-center">
                              <div class="text-area text-start">
                                  <h6>Citizens Chamber Of</h6>
                                  <h4 class="m-0">{{chamber}}</h4>
                                  <h5 class="m-0"><span style="text-transform: uppercase;">{{province}}</span>, Canada</h5>
                                  <div class="mt-4 friends-list d-flex flex-wrap gap-2 align-items-center text-center">
                                      <span class="mdtxt d-center following">7,401 Members</span>
                                      <span class="mdtxt d-center following">28,941 Followers</span>
                                      <span class="mdtxt d-center following">148 Posts</span>
                                      <span class="mdtxt d-center following">11 Boards</span>
                                      <span class="mdtxt d-center following">72 Businesses</span>
                                      <span class="mdtxt d-center following">114 Events</span>
                                  </div>
                              </div>
                          </div>
                          <div class="btn-item d-center gap-3">
                              <a href="#" class="cmn-btn d-center gap-1">
                                  <i class="material-symbols-outlined mat-icon fs-4"> person_add </i>
                                  Follow
                              </a>
                              <a href="#" class="cmn-btn d-center gap-1">
                                  <i class="material-symbols-outlined mat-icon fs-4"> send </i>
                                  Message
                              </a>
                          </div>
                      </div>
                      <!-- TENDING NEW BOARDS ETC
                      <div class="page-details">
                          <ul class="nav mt-5 pt-4 flex-wrap gap-2 tab-area">
                              <li class="nav-item" role="presentation">
                                  <a href="/c/{{province}}/{{chamber}}/trending" class="nav-link d-center active">Trending</a>
                              </li>
                              <li class="nav-item" role="presentation">
                                  <a href="/c/{{province}}/{{chamber}}/new" class="nav-link d-center">New</a>
                              </li>
                              <li class="nav-item" role="presentation">
                                  <a href="/c/{{province}}/{{chamber}}/boards" class="nav-link d-center">Boards of Citizens</a>
                              </li>
                              <li class="nav-item" role="presentation">
                                <a href="/c/{{province}}/{{chamber}}/businesses" class="nav-link d-center">Businesses</a>
                            </li>
                              <li class="nav-item" role="presentation">
                                  <a href="/c/{{province}}/{{chamber}}/events" class="nav-link d-center">Events</a>
                              </li>
                          </ul>
                      </div>
                       -->
                  </div>
              </div>
          </div>
      </div>
    {{/if}}




      {{#each posts}}
        <div class="post-item d-flex flex-column gap-5 gap-md-7" id="news-feed" data-post-id="{{_id}}">
          <div class="post-single-box p-3 p-sm-5">
            <div class="top-area pb-5">
              <div class="profile-area d-center justify-content-between">
                <div class="avatar-item d-flex gap-3 align-items-center">
                  <div class="avatar position-relative">
                    {{#if isAd this}}
                      <img class="avatar-img avatar-size" src="{{this.author.avatarUrl}}" alt="avatar">
                    {{else}}
                      <img class="avatar-img avatar-size" src="{{this.author.avatarUrl}}" alt="avatar">
                    {{/if}}
                  </div>
                  <div class="info-area">
                    <h6 class="m-0" style="text-transform: lowercase;">
                      @{{this.author.userName}}
                    </h6>
                    <span class="mdtxt status">Bay of Quinte</span>
                    {{#if isAd this}}
                      <span class="mdtxt status">Sponsored Advertisement</span>
                    {{else}}

                    {{/if}}
                  </div>
                </div>

                {{#if isAd this}}

                {{else}}

                  <!-- OPTIONS -->
                {{/if}}

              </div>
              <a class="hover-pointer" href="/post/{{seoUrl}}">
                <div class="py-4 post-content">
                  <h2 class="mdtxt">{{title}}</h2>
                  <p class="description">{{{body}}}</p>
                </div>
              </a>
              {{#if image}}
                <div class="post-img">
                  {{#if isAd this}}
                    <a href="{{url}}" onclick="window.open('{{url}}'); return false;">
                      <img src="{{image}}" class="w-100" alt="image">
                    </a>
                  {{else}}
                    <img src="{{image}}" class="w-100" alt="image">
                  {{/if}}
                </div>
              {{/if}}
              {{#if isAd this}}
                <p style="font-size: 0.8em; text-align: center;">30% Of this ad was donated to charity</p>
              {{else}}
                <button class="read-more-btn" style="display: none;">Read More</button>
              {{/if}}
            </div>

            {{#if isAd this}}

            {{else}}

            <div class="like-comment-share py-5 flex-wrap">
              <!-- Upvote/Downvote Section -->
              <div class="vote-section d-flex align-items-center gap-2">
                <button class="upvote-btn">
                  <i class="material-symbols-outlined mat-icon">thumb_up</i>
                </button>
                <span class="score">{{voteCount}}</span>
                <button class="downvote-btn">
                  <i class="material-symbols-outlined mat-icon">thumb_down</i>
                </button>
              </div>

              <!-- Action Buttons -->
              <div class="action-buttons d-flex align-items-center gap-3">
                <a href="/post/{{seoUrl}}">
                  <button class="comment-btn">
                  <i class="material-symbols-outlined mat-icon">chat</i>
                  {{comment_count}}
                </button>
              </a>
                <!-- <button class="bookmark-btn">
                  <i class="material-symbols-outlined mat-icon">bookmark</i>
                  0
                </button>
                <button class="share-btn">
                  <i class="material-symbols-outlined mat-icon">share</i>
                  0
                </button> -->
              </div>
            </div>

            {{/if}}

          </div>
        </div>
      {{/each}}
    </div>
  </template>
